<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Cadastrar Envio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Empresa" formControlName="company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Primeiro nome" formControlName="firstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              Primeiro nome <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ultimo nome" formControlName="lastName">
            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              Ultimo nome <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cidade" formControlName="city">
            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Cidade <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Estado" formControlName="state">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>


<mat-card style="background-color: transparent; width: 1400px;">
  <mat-card-header>
    <mat-card-title>Filtrar por</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Aplicação" [(ngModel)]="application">
            <mat-option *ngFor="let app of apps" [value]="app.application">
              {{ app.application }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <div class="flex-row">
          <mat-form-field>
            <input matInput placeholder="Codigo" [(ngModel)]="codigo">
          </mat-form-field>
          <mat-form-field style="width: 70%;">
            <input matInput placeholder="Nome Retorno" [(ngModel)]="nomeRetorno">
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="filtrarData()">Filtrar</button>
  </mat-card-actions>
</mat-card>

